.btn-green {
    color:#fff;
    background-color:#196268;
    border-color:#196268;
}

.btn-green:hover {
    color:#fff;
    background-color:#124246;
    border-color:#124246
}

.btn-green-outline {
    color:#000;
    background-color:#fff;
    border-color:#196268;
}

.btn-green-outline:hover {
    color:#000;
    background-color:#fff;
    border-color:#124246
}
/*.btn-front{color:#fff;background-color:#e67e22;border-color:#CD6509}
.btn-front:active,.btn-front:focus{color:#fff;background-color:#CB6D19}
*/